@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.1;
}

html ul {
  list-style: none;
}

html a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

html button {
  background: 0;
  border: 0;
  cursor: pointer;
}

html .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.nav-row {
  width: 1400px;
  position: fixed;
  z-index: 1;
  opacity: 0.92;
  margin-top: -100px;
  background: white;
}

nav {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 940px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

nav .logo a {
  margin-left: 5px;
}

nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-menu li {
  padding: 15px;
}

nav .nav-menu li .menu-link {
  color: #9b9b9b;
}

nav .nav-menu li .active {
  color: black;
}

.slider-btn {
  padding: 18px 25px;
  background: #7cc576;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

#slider {
  margin-top: 100px;
  background: url("./imgs/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(58vh);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 120px 0;
}

#slider h1 {
  font-size: 60px;
  text-transform: uppercase;
}

#slider p {
  font-size: 20px;
  color: #9b9a99;
}

#services {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#services h1 {
  margin-top: 90px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

#services p {
  font-size: 20px;
  color: #9b9a99;
  margin: 20px 0 90px 0;
}

#services .article-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

#services .article-cnt article {
  width: 33.33%;
}

#services .article-cnt article h3 {
  text-transform: uppercase;
  margin: 40px 0 15px 0;
}

#services .article-cnt article p {
  margin: 0 19px;
  font-size: 14px;
}

.services {
  margin-top: 100px;
  padding-left: 40%;
  padding-top: 100px;
  background: url("imgs/relax.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 616px;
  color: #a2a3a3;
}

.services h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: white;
  max-width: 650px;
}

.services h1 span {
  color: #7cc576;
}

.services p {
  line-height: 1.3;
  margin: 45px 0 20px;
}

.services ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.services ul li img {
  margin-right: 30px;
}

.services button {
  margin-top: 50px;
}

#projects {
  margin-top: 100px;
}

#projects h1 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 30px;
}

#projects p {
  color: #777777;
}

#projects > p {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 90px;
}

#projects h1, #projects > p {
  text-align: center;
}

#projects .project-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#projects .project-cont h3 {
  text-transform: uppercase;
  font-size: 18px;
}

#projects .project-cont div .frwork {
  margin: 20px 0 25px;
  font-size: 16px;
}

#projects .project-cont ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#projects .project-cont ul li img {
  margin-right: 17px;
}

#projects .project-cont button {
  text-transform: uppercase;
  color: #7cc576;
  font-size: 16px;
  margin-top: 27px;
  font-weight: bold;
}

#culture {
  margin-top: 100px;
}

.cult-cont {
  text-align: center;
  width: 940px;
  margin: 0 auto;
}

.cult-cont p {
  color: #777777;
}

.cult-cont .culture-info {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 90px;
}

.cult-cont h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700px;
  margin-bottom: 10px;
}

.cult-cont > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 110px;
}

.cult-cont > div span {
  width: 170px;
  height: 2px;
  border: 1px solid gray;
}

.cult-cont > div img {
  max-width: 221px;
  max-height: 220px;
  width: 80%;
}

.cult-cont .articles {
  padding: 37px 0;
}

.cult-cont .articles h3 {
  margin-bottom: 19px;
}

.cult-cont .articles p {
  font-size: 14px;
  width: 290px;
  letter-spacing: -0.025em;
  line-height: 1.42857143;
}

#clients {
  width: 940px;
  margin: 0 auto;
}

#clients h1 {
  font-size: 40px;
  text-transform: uppercase;
}

#clients > p {
  font-size: 20px;
  margin: 20px 0 90px;
}

#clients h1, #clients > p {
  text-align: center;
}

#clients p {
  color: #777777;
  font-weight: 700;
}

#clients .article-cont article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

#clients .article-cont article img {
  max-width: 221px;
  max-height: 220px;
  width: 23%;
}

#clients .article-cont article div {
  background: url("imgs/box_right.png") center no-repeat;
  background-size: 100%;
  height: 220px;
  padding: 65px 0 0 80px;
}

#clients .article-cont article div p {
  font-size: 22px;
  width: 95%;
}

#clients .article-cont article div .author {
  color: #7cc576;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

#clients .article-cont article:nth-child(2) {
  margin-bottom: 0;
}

#clients .article-cont article:nth-child(2) div {
  background: url("imgs/box_left.png") center no-repeat;
  background-size: 100%;
}

.clients .contact-us {
  text-align: center;
  background: #7cc576;
  height: 250px;
  margin-top: 100px;
  padding: 70px 0;
}

.clients .contact-us h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.clients .contact-us button {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  padding: 13px 28px;
  border: 3px solid white;
  text-transform: uppercase;
  border-radius: 12px;
}

.clients .sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0;
}

.clients .sponsors a {
  margin: 0 41px;
}

#contacts .contacts-cont {
  text-align: center;
  font-weight: 700;
}

#contacts .contacts-cont h1 {
  text-transform: uppercase;
  color: #7cc576;
  margin-bottom: 20px;
  font-size: 40px;
}

#contacts .contacts-cont table {
  margin: 0 auto;
  width: 470px;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 20px;
  font-weight: 700;
}

#contacts .contacts-cont table tr:nth-child(even):hover {
  background-color: #b9eab4;
}

#contacts .contacts-cont table tr:nth-child(even):hover textarea {
  background-color: #deffdb;
}

#contacts .contacts-cont table tr:nth-child(even):hover input {
  background-color: #f9f7f7;
}

#contacts .contacts-cont table tr:nth-child(odd):hover {
  background-color: #DDDDDD;
}

#contacts .contacts-cont table tr:nth-child(odd):hover input {
  background-color: #f9f7f7;
}

#contacts .contacts-cont table tr:last-child:hover {
  background-color: white;
}

#contacts .contacts-cont table tr:last-child:hover input {
  background-color: #7cc576;
  color: black;
  border: 1px solid black;
}

#contacts .contacts-cont table th {
  text-align: left;
  vertical-align: top;
  font-family: 'Roboto Slab', 'serif';
  font-weight: bold;
}

#contacts .contacts-cont table td {
  width: 334px;
}

#contacts .contacts-cont table td input {
  background: 0;
  border: 0;
  line-height: 40px;
  width: 100%;
}

#contacts .contacts-cont table td textarea {
  border: 0;
  width: 100%;
  max-height: 102px;
}

#contacts .contacts-cont table td textarea:hover {
  background-color: #deffdb;
}

#contacts .contacts-cont table td input:hover {
  background-color: #f9f7f7;
}

#contacts .contacts-cont table td .submit-input {
  color: white;
  cursor: pointer;
  background-color: #7cc576;
  width: 30%;
  border-radius: 25px;
  padding: 7px 25px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

#contacts .contacts-cont table td, #contacts .contacts-cont table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.clock {
  margin-top: 100px;
  text-align: center;
  background-color: #333;
  padding: 50px 0 40px;
}

.clock h1 {
  color: #13df13;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.clock ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 128px;
}

.clock ul li {
  background: -webkit-gradient(linear, left top, left bottom, from(#13df13), color-stop(66%, #1d3505));
  background: linear-gradient(to bottom, #13df13 0%, #1d3505 66%);
  font-size: 90px;
  width: 10%;
  text-shadow: 0 0 2px #fff;
  border-radius: 5px;
}

.clock ul li:nth-child(even) {
  width: 4%;
  margin: 0 10px;
}
/*# sourceMappingURL=style.css.map */